<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cool.patient">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/symb"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".common.SplashScreen"
            android:label="MEDIC TFHC"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.Language_Optional"
            android:label="@string/app_name_Select_language"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity
            android:name=".subscriptionPlan.Subscription_for_Urban"
            android:label="@string/Subscription"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity
            android:name=".patient.PatientDashBoard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".common.Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".common.Registration"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".common.ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".patient.PatientEditProfile"
            android:label="@string/Edit_profile"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity
            android:name=".common.ContactUs"
            android:label="@string/Contactus"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity
            android:name=".common.ReachUs"
            android:label="@string/Reachus"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".patient.ViewBloodBanksList.BloodBank"
            android:label="@string/title_activity_blood_bank"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity
            android:name=".patient.ViewBloodBanksList.ViewBloodBank"
            android:label="View BloodBank"
            android:parentActivityName=".patient.ViewBloodBanksList.BloodBank"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.ViewBloodBanksList.BloodBank" />
        </activity>
        <activity
            android:name=".common.aboutUs.AboutUs"
            android:label="About Us"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity android:name=".common.SelectCity" />
        <activity
            android:name=".patient.ViewBloodBanksList.BloodBank1"
            android:label="@string/title_activity_blood_bank"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.ViewBloodBanksList.BloodBank1" />
        </activity>
        <activity
            android:name=".common.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.DoctorEditProfile"
            android:label="@string/Edit_profile"
            android:parentActivityName=".patient.PatientDashBoard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.patient.PatientDashBoard" />
        </activity>
        <activity
            android:name=".doctor.DashBoardCalendar.DoctorDashboard"
            android:label="@string/title_activity_doctor_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".doctor.AddAddress.DoctorAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.AddAddress.DiagnosticAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.DiagnosticEditProfile"
            android:label="@string/Edit_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.DashBoardCalendar.DiagnosticDashboard"
            android:label="@string/title_activity_diagnostic_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".diagnostic.ManageAddress.DiagnosticManageAddress"
            android:label="Manage Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.ManageAddress.DoctorManageAddress"
            android:label="Manage Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.AddAddress.DiagnosticAddAddressFromMaps"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.ManageAddress.DoctorUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.BookAppointment.PatientBookAppointmentToDoctor"
            android:label="Book Doctor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.AddAddress.DoctorAddAddressFromMaps"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.ManageAddress.DoctorUpdateAddressFromMaps"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewDoctorsList.GetCurrentDoctorsList"
            android:label="Doctors List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.ManageAddress.DoctorDeleteAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.DashBoardCalendar.GetPatientDetailsListInDoctor"
            android:label="Patient List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.DashBoardCalendar.GetPatientDetailsTotalDataInDoctor"
            android:label="View Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.MyDoctorAppointments.PatientMyDoctorAppointments"
            android:label="My Doctor Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.MyDoctorAppointments.ViewPatientMyDoctorAppointment"
            android:label="View MyDoctorAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.TodaysAppointments.DoctorTodaysAppointmentsForPatient"
            android:label="Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.TodaysAppointments.PatientHistoryInDoctor"
            android:label="History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.TodaysAppointments.ViewPatientHistoryInDoctor"
            android:label="View History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.TodaysAppointments.DoctorTodaysAppointment"
            android:label="View Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subscriptionPlan.Subscription_for_Rural"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subscriptionPlan.SubscriptionPlanAlertDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewDoctorsList.GetCurrentDoctorsList11"
            android:label="Doctors List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctor.TodaysAppointments.DoctorReferDiagnostic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.ManageAddress.DiagnosticsUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.ManageAddress.DiagnosticUpdateAddressFromMaps"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewDiagnosticsList.GetCurrentDiagnosticsList"
            android:label="Diagnostics List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.BookAppointment.PatientBookAppointmentToDiagnostics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.MedicalShopDashboard"
            android:label="@string/title_activity_medical_shop_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".diagnostic.DashBoardCalendar.GetPatientDetailsTotalDataInDiagnostics"
            android:label="View Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.DashBoardCalendar.GetPatientDetailsListInDiagnostics"
            android:label="Patient List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.TodaysAppointments.DiagnosticsTodaysAppointments"
            android:label="Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.TodaysAppointments.DiagnosticsViewTodaysApppointment"
            android:label="View Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.TodaysAppointments.MainPatientHistoryInDiagnostics"
            android:label="Patient History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diagnostic.TodaysAppointments.ViewPatientHistoryInDiagnosticsTodaysAppointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.MedicalShopEditProfile"
            android:label="@string/Edit_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.AddAddress.MedicalShopAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.AddAddress.MedicalShopAddAddressFromMaps"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.ManageAddress.MedicalShopManageAddress"
            android:label="Manage Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.ManageAddress.MedicalShopUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.ManageAddress.MedicalShopUpdateAddressFromMaps"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".medicalShop.ManageAddress.MedicalShopDeleteAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewMedicalShopsList.GetCurrentMedicalShopsList"
            android:label="MedicalShops List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.MyDiagnosticAppointments.PatientMyDiagnosticAppointments"
            android:label="My Diagnostic Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.MyDiagnosticAppointments.ViewPatientMyDiagnosticAppointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewMedicalShopsList.ViewMedicalShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewDiagnosticsList.GetCurrentDiagnosticsList11"
            android:label="Diagnostics List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".patient.ViewMedicalShopsList.GetCurrentMedicalShopsList11"
            android:label="MedicalShops List"
            android:screenOrientation="portrait" />
        <activity android:name=".diagnostic.ManageAddress.DiagnosticDeleteAddress"></activity>
    </application>

</manifest>