<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cool.patient">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/symb"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".SplashScreen"
            android:label="MEDIC TFHC"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Language_Optional"
            android:label="@string/app_name_Select_language"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity
            android:name=".Subscription_for_Urban"
            android:label="@string/Subscription"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".Registration"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".PatientEditProfile"
            android:label="@string/Edit_profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/Contactus"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity
            android:name=".ReachUs"
            android:label="@string/Reachus"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".BloodBank"
            android:label="@string/title_activity_blood_bank"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity
            android:name=".ViewBloodBank"
            android:label="View BloodBank"
            android:parentActivityName=".BloodBank"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.BloodBank" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity android:name=".SelectCity" />
        <activity
            android:name=".BloodBank1"
            android:label="@string/title_activity_blood_bank"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.BloodBank1" />
        </activity>
        <activity
            android:name=".MainActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorEditProfile"
            android:label="@string/Edit_profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cool.patient.MainActivity" />
        </activity>
        <activity
            android:name=".DoctorDashboard"
            android:label="@string/title_activity_doctor_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".DoctorAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticEditProfile"
            android:label="@string/Edit_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticDashboard"
            android:label="@string/title_activity_diagnostic_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".DiagnosticManageAddress"
            android:label="Manage Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorManageAddress"
            android:label="Manage Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientBookAppointmentToDoctor"
            android:label="Book Doctor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetCurrentDoctorsList"
            android:label="Doctors List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorDeleteAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetPatientDetailsListInDoctor"
            android:label="Patient List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetPatientDetailsTotalDataInDoctor"
            android:label="View Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientMyDoctorAppointments"
            android:label="My Doctor Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPatientMyDoctorAppointment"
            android:label="View MyDoctorAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorTodaysAppointmentsForPatient"
            android:label="Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientHistoryInDoctor"
            android:label="History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPatientHistoryInDoctor"
            android:label="View History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorTodaysAppointment"
            android:label="View Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Subscription_for_Rural"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubscriptionPlanAlertDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetCurrentDoctorsList11"
            android:label="Doctors List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorReferDiagnostic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticsUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetCurrentDiagnosticsList"
            android:label="Diagnostics List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientBookAppointmentToDiagnostics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopDashboard"
            android:label="@string/title_activity_medical_shop_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".GetPatientDetailsTotalDataInDiagnostics"
            android:label="View Appointment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetPatientDetailsListInDiagnostics"
            android:label="Patient List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticsTodaysAppointments"
            android:label="Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiagnosticsViewTodaysApppointment"
            android:label="View Todays Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPatientHistoryInDiagnostics"
            android:label="Patient History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPatientHistoryInDiagnosticsTodaysAppointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopEditProfile"
            android:label="@string/Edit_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopAddAddress"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopAddAddressFromMaps"
            android:label="Add Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopManageAddress"
            android:label="Manage Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopUpdateAddress"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopUpdateAddressFromMaps"
            android:label="Update Address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicalShopDeleteAddress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetCurrentMedicalShopsList"
            android:label="MedicalShops List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PatientMyDiagnosticAppointments"
            android:label="My Diagnostic Appointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPatientMyDiagnosticAppointments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewMedicalShop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetCurrentDiagnosticsList11"
            android:label="Diagnostics List"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetCurrentMedicalShopsList11"
            android:label="MedicalShops List"
            android:screenOrientation="portrait" />
        <activity android:name=".DiagnosticDeleteAddress"></activity>
    </application>

</manifest>